<section class="container-login">
    <div class="container ">
        <div class="row  ">
            <div class="col-md-6 px-0">
                <div class="image-left">
                    <img src="assets/img/login.jpg" alt="" class="log-image">
                </div>
            </div>

            <div class="col-md-6 px-0">
                <div class="log-right">
                    <h2 class="title-login-sec">Login to continue</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="SubmitLoginForm()" novalidate>

                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="email" formControlName="email" placeholder="Enter Username" name="email" [ngClass]="{ 'has-error': submitted && f.email.errors }">

                            <label for="psw"><b>Password</b></label>
                            <input type="password" formControlName="password" placeholder="Enter Password" name="password" [ngClass]="{ 'has-error': submitted && f.password.errors }">

                            <button type="submit" class="mt-2 mb-4 login_btn">Login</button>

                            <label>
							<input type="checkbox" checked="checked" name="remember"> Remember me
						  </label>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                        <div class="social-media">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-google"></i>
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fab fa-instagram"></i>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>