<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
        <!-- Sidebar -->
        <button (click)="toggleSidebar()">
            close sidebar
        </button>
        <div class="row">
            <div class="col-md-1 p-0">
                <div class="icon-bar sidebar" id="mySidebar">
                    <div class="left-icons hover-icon" id="hover-icon" (click)="goToPage('home')"> <i class="icon-basic-world"></i><span class="menus" id="menus">Dashboard</span></div>
                    <div class="left-icons hover-icon"> <i class="  icon-basic-world"></i><span class="menus" id="menus1">Stores</span></div>
                    <div class="left-icons hover-icon"> <i class=" icon-basic-sheet"></i><span class="menus" id="menus2">Report</span></div>
                    <div class="left-icons hover-icon" (click)="goToPage('users')"> <i class=" icon-basic-clock"></i><span class="menus" id="menus3">Members</span></div>
                    <div class="left-icons hover-icon"> <i class=" icon-basic-world"></i><span class="menus" id="menus4">Employee</span></div>
                    <div class="left-icons hover-icon"> <i class=" icon-basic-settings"></i><span class="menus" id="menus5">Setting</span></div>
                    <div class="left-icons hover-icon"> <i class=" icon-basic-lock"></i><span class="menus" id="menus6">Logout</span></div>
                </div>
            </div>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- page content -->
        <button (click)="toggleSidebar()" *ngIf="activeNavRoutes.indexOf(router.url) > -1 ">
            open sidebar
        </button>

        <!-- Page Body -->
        <router-outlet>
        </router-outlet>
    </div>
</ng-sidebar-container>